@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');

body {
	font-family: 'Indie Flower', cursive !important;
  background: #FDE3A7; /*CAPE HONEY*/
	margin: 0px;
	padding: 0px;
}

::selection {
	background: transparent;
}

h4 {
	font-size: 26px;
	line-height: 1px;
	font-family: 'Amatic SC', cursive !important;
}

.color1{color:#1BBC9B}/*MOUNTAIN MEADOW*/
.color2{color:#C0392B/*TALL POPPY*/}


.card {
	color: #013243; /*SHERPA BLUE*/
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 400px;
	background: #e0e1dc;
	transform-style: preserve-3d;
	transform: translate(-50%,-50%) perspective(2000px);
	box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
	transition: 1s;
}

.card:hover {
	transform: translate(-50%,-50%) perspective(2000px) rotate(15deg) scale(1.2);
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}

.card:before {
	content:'';
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: #BAC1BA;
	transform-origin: bottom;
	transform: skewX(-45deg);
}

.card:after {
	content: '';
	position: absolute;
	top: 0;
	right: -5px;
	width: 5px;
	height: 100%;
	background: #92A29C;
	transform-origin: left;
	transform: skewY(-45deg);
}

.card .imgBox {
	width: 100%;
	height: 100%;
	position: relative;
	transform-origin: left;
	transition: .7s;
}

.card .bark {
	position: absolute;
	background: #e0e1dc;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .7s;
}

.card .imgBox img {
	min-width: 250px;
	max-height: 400px;
}

.card .imgBox .birthday-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Zhi Mang Xing', cursive;
	font-size: 36px;
	color: #FF6B9D;
	text-shadow: 
		2px 2px 4px rgba(0, 0, 0, 0.8),
		-1px -1px 2px rgba(255, 255, 255, 0.5),
		0 0 10px rgba(255, 107, 157, 0.6);
	z-index: 2;
	pointer-events: none;
	font-weight: bold;
	letter-spacing: 3px;
}

.card:hover .imgBox {
	transform: rotateY(-135deg);
}

.card:hover .imgBox .birthday-text {
	opacity: 0;
	transition: opacity 0.3s;
}

.card:hover .bark {
	opacity: 1;
	transition: .6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}

.card .details {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 0 0 0 10px;
	z-index: -1;
	margin-top: 70px;
}

.card .details p {
	font-size: 15px;
	line-height: 5px;
	transform: rotate(-10deg);
	padding: 0 0 0 20px;
	font-family: 'Zhi Mang Xing', 'Indie Flower', cursive !important;
}

.card .details h4 {
	text-align: center;
	font-family: 'Zhi Mang Xing', 'Amatic SC', cursive !important;
}

.text-right {
	text-align: right;
}

.click-hint {
	position: fixed;
	bottom: 30px;
	right: 30px;
	font-family: 'Zhi Mang Xing', 'Indie Flower', cursive;
	font-size: 24px;
	color: #C0392B;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0.5s;
	cursor: pointer;
	animation: bounce 2s infinite;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	z-index: 1000;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
	}
	60% {
		transform: translateY(-5px);
	}
}